.navbar{
    width: 95%;
    height: auto;
    padding: 1rem;
    margin: 1rem 1rem 2rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    background: linear-gradient(90deg, rgba(143, 2, 112, 0.452) 0%, rgba(223, 18, 86, 0.267) 35%, rgba(0, 213, 255, 0.335) 100%);
    box-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.472);
}

.navbar-logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;

}

.navbar img{
    width: 5rem;
}


.navbar-list{
    justify-content: space-between;
    
}

.navbar-list-item{
    display: flex;
    flex-direction: row;
    list-style: none;

}

.items{
    display: flex;
    flex-direction: row;
    color: black;
    text-decoration: none;
    align-items: center;
    margin: 1rem;
    text-align: center;
    
}
