.slider{
    width:30%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    box-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.472);
    border-radius: .3rem;


}

.slider-text{
    font-size: 1.1rem ;
    font-weight: 700;
    text-decoration: double;
    justify-content: right;
 
}

.slider-text span{
    font-size: 1.9rem ;
    font-weight: 700;
    display: flex;
    justify-content: right;
    margin: 0 .5rem;
 
}

.btn-descubra{
    padding: .5rem;
    background-color: white;
    border-radius: .4rem;
    box-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.472);
    border: none;
    cursor: pointer;
    font-size:1rem;
    background: rgba(143, 2, 112, 0.452);
}

.slider-image img{
    margin-top: -2;
    width: 300px;
    box-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.472);
}
